
<div class="home-banner">
  <div class="content-banner">
    <h1>Revisa nuestras novedades</h1>
    <h3 id="banner-typed-text"></h3>
    <%= link_to  "Crea tu lista de películas", new_list_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container mt-5 ">
  <h2>Mi Lista</h2>
  <div class="cards-container d-flex justify-content-between mt-5 mb-5 flex-wrap">
    <% @lists.each do |list| %>
      <%= link_to(list_path(list)) do %>
        <div class="list-card mb-5 " style = "background-image: url('<%= list.match_url %>')">
          <p style="text-align:center"><%= list.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
