.home-banner {
  background-image: asset-url("banner.jpg");
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  align-self: start;

}

.content-banner{
  margin: 50px;
  text-align: left ;
  margin-left:60px;
  padding: 10px;
}


/*BANNER -SHOW */

.banner_show{
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 40vh;
  align-self: start;
  background-image: asset-url("banner.jpg");
}

.banner_show_content{
  color: white;
  margin: 50px;
  text-align: left ;
  margin-left:60px;
  padding: 10px;
}

