/*----------CARD'S INDEX---------*/

.list-card{
  width: 525px;
  height: 300px;
  font-size: 20px;
  margin-top: 5px;
  border: black 2px solid;
  border-radius: 5px;
  background-size: cover;
  color: #ecdada;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px;
}


/*----------CARD'S SHOW---------*/

.card-movie{
  width: 525px;
  border: 1px solid ;
  margin-bottom: 25px;
  border-radius: 5px;
  background: white;
  box-shadow: -5px -5px;
    .card-poster{
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
}
