/*----------CARD'S INDEX---------*/

.list-card{
  width: 400px;
  height: 200px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  border: black 2px solid;
}


/*----------CARD'S INDEX---------*/


